.scrollflow{
    display: flex;
    overflow-x: scroll;

}

:root {
    --red: #f5bc1ef6;
    --darkred: #1e2027;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
}

.card:hover {
    background-color: #80c2d6;
}